<%- model_class = Airport -%>
<% title 'Аэропорты' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Название</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @airports.each do |airport| %>
      <tr>
        <td><%= link_to airport.name, airport_path(airport) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_airport_path(airport), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      airport_path(airport),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_airport_path,
            :class => 'btn btn-primary' %>
